
<div class="navbar navbar-fixed-top"  id="main-nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="sd_brand" class="navbar-brand" href="/"><img src = "/images/logo.png" id="sd_logo"/></a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
		<li class="active"><a href="/lessons" class="btn-nav">Learn!</a></li>
		<li class="active"><a href="/purchase" class="btn-nav">Buy a Kit</a></li>
    <li class="active"><a href="/submit" class="btn-nav">Submit a Video</a></li>
	</ul>
  </div>
</div>