<!doctype html>

<html>
{{> head}}

<body>
	{{> navbar}}
	<div class="wrapper">
		<div class="red colored-block">
			<h1 class="text-center">Let's get ready to race!</h1>
			<iframe width="560" height="315" class="main-video" src="https://www.youtube.com/embed/rBi01rgRVNE" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="yellow colored-block">
			<h1>What is this page about?</h1>
		</div>
	</div>
</body>
</html>
